
*{
    box-sizing: border-box;
}

body{
    
    background-image: url(images/P_background.jpg);             
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
    color: #f1f1f1;
}
#applyCountdown{
  color: white;
    border: solid #ef6125 2px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0,0.5);
    width: 100px;
    height: 50px;
}

h1{
    font-weight: normal;
    font-size: 60px;
    margin: -150px 0 40px;
    color: orangered;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.countdown{
    display:flex;
    transform: scale(2);
    color: orangered;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    
}

.time h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
    color: orangered;
}

@media (max-width: 500px){
    h1{
        font-size:45;
    }
    .time{
        margin: 5px;
    }
    .time h2 {
        font-size: 12px;
    }
    .time small{
        font-size: 10px;
    }
}
 /* Optional simple styling */
 #countdown {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    color: orangered;
  }
  #countdown label {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  input {
    width: 60px;
    text-align: center;
    font-size: 1.5rem;
   
  }

  
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;

    position: absolute;
    left: 0;
    top: 0;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }